<div id="remove-modal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <span id="remove-modal-filename"></span>
                を削除しますか？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="remove-modal-yes">はい</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">いいえ</button>
            </div>
        </div>
    </div>
</div>
